<TabbedPage>
    <ContentPage Title="Todo">
        <StackLayout>
            <Label FontSize="20" TextColor="XF.Color.Crimson" Text="Todo Items"></Label>
        </StackLayout>
        </ContentPage>
    <ContentPage Title="Counter">
    <Counter/>
        </ContentPage>
</TabbedPage>
